:root {
  --border-radius-a: 0.111rem; /* 2px */
  --border-radius-b: 0.222rem; /* 4px */
  --border-radius-c: 0.444rem;  /* 8px */
  --border-radius-d: 0.889rem;  /* 16px */
  --border-radius-de: 1.333rem;  /* 24px */
  --border-radius-e: 1.778rem;  /* 32px */
  --border-radius-f: 3.556rem;  /* 64px */
  --border-radius-g: 7.111rem;  /* 128px */
  --border-radius-gh: 10.667rem;  /* 192px */
}
