@custom-media --min-media-2k-desktop (min-width: 2561px);
@custom-media --min-media-hd-desktop (min-width: 1921px);
@custom-media --min-media-desktop (min-width: 1281px);
@custom-media --min-media-laptop (min-width: 961px);
@custom-media --min-media-mobile (min-width: 641px);
