:root {
  --spacer-a: 0.111rem; /* 2px */
  --spacer-b: 0.222rem; /* 4px */
  --spacer-c: 0.444rem;  /* 8px */
  --spacer-d: 0.889rem;  /* 16px */
  --spacer-de: 1.333rem;  /* 24px */
  --spacer-e: 1.778rem;  /* 32px */
  --spacer-f: 3.556rem;  /* 64px */
  --spacer-g: 7.111rem;  /* 128px */
  --spacer-gh: 10.667rem;  /* 192px */
}
