.sub-task {
    display: flex;
    align-items: center;

    &__checkbox {
        padding: var(--spacer-b);
    }

    &__input {
        background-color: transparent;
        border: 1px solid var(--border-color);
        border-radius: var(--border-radius-b);
        color: rgb(117 117 117);
        padding: var(--spacer-b);
        width: 100%;
    }
}