.select {
    background-color: transparent;
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius-b);
    color: rgb(117 117 117);
    cursor: pointer;

    &--selected {
        color: var(--input-color);
    }
}