.select {
    background-color: transparent;
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius-b);
    color: rgb(117 117 117);
    cursor: pointer;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    padding-right: var(--spacer-de);
    width: 100%;

    &--selected {
        color: var(--input-color);
    }
}

.select-field {
    position: relative;

    &__icon {
        position: absolute;
        right: var(--spacer-c);
        top: 50%;
        transform: translateY(-50%);
    }
}