@import '../../styles/vars/media.pcss';

.todo-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: var(--spacer-d);

    &__add-btn {
        width: 100%;
    }
}