.task-editor-modal {
    &__actions {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: var(--spacer-c);
    }

    &__create-btn {
        flex: 1;
    }

    &__selects {
        display: flex;
        gap: var(--spacer-c);
    }
}