.new-task {
    position: sticky;
    z-index: 1;
    bottom: var(--spacer-d);
    margin-top: auto;
    margin-left: var(--spacer-d);
    margin-right: var(--spacer-d);
}

.empty-list {
    padding: var(--spacer-d);
    text-align: center;
}