:root {
    --bg-color: #09090b;
    --text-color: #f8fafc;
    --border-color: rgb(from var(--text-color) r g b / 50%);

    /* ThemeSwitcher */
    --theme-switcher-radio-filter: invert(1);
    --theme-switcher-radio-filter-checked: invert(0);
    --theme-switcher-status-filter: invert(1);

    /* Button */
    --button-bg-color: var(--text-color);
    --button-text-color: var(--bg-color);

    /* ModalDialog */
    --model-dialog-bg-color: var(--text-color);
    --model-dialog-text-color: var(--bg-color);

    /* Input */
    --input-border-color: rgb(from var(--bg-color) r g b / 50%);
    --input-color: var(--bg-color);
}