:root {
    --bg-color: #f8fafc;
    --text-color: #0f172a;
    --border-color: rgb(from var(--text-color) r g b / 60%);

    /* ThemeSwitcher */
    --theme-switcher-radio-filter: invert(0);
    --theme-switcher-radio-filter-checked: invert(1);
    --theme-switcher-status-filter: invert(0);

    /* Button */
    --button-bg-color: var(--text-color);
    --button-text-color: var(--bg-color);

    /* ModalDialog */
    --model-dialog-bg-color: var(--text-color);
    --model-dialog-text-color: var(--bg-color);
}