.checkbox {
    display: flex;
    align-items: center;
    position: relative;
    padding: var(--spacer-d);
    cursor: pointer;

    &__checkbox {
        position: absolute;
        opacity: 0;
        z-index: 0;
    }

    &__icon {
        z-index: 1;
    }
}