.textarea-field {
    &__textarea {
        width: 100%;
        background-color: transparent;
        color: var(--input-color);
        padding: var(--spacer-d);
        border-radius: var(--border-radius-c);
        border: 1px solid var(--input-border-color);
        resize: vertical;
        min-height: 65px;
    }
}