@import '../../styles/vars/media.pcss';

.task-list {
    display: flex;
    flex-direction: column;
    height: 100%;
    position: relative;
    padding: var(--spacer-d);

    &__title {
        padding: 0;
        margin-top: 0;
    }

    &__items {
        display: flex;
        flex-direction: column;
        gap: var(--spacer-d);
        list-style: none;
        padding: 0;
        margin: 0;
    }
}

