@import '../../styles/vars/media.pcss';

.task-list {
    display: flex;
    flex-direction: column;
    height: 100%;
    position: relative;
    padding: var(--spacer-d);
    margin-bottom: 40px;

    &__items {
        display: flex;
        flex-direction: column;
        gap: var(--spacer-d);
        list-style: none;
        padding: 0 0 var(--spacer-d);
        margin: 0;
    }
}

